.container {
  background-color: rgba(19, 19, 19, 0.25);
  border: 2px solid #ffffff;
  border-radius: 15px;
  margin-top: 12px;
  width: 450px;
}

.button-list {
  display: flex;
  justify-content: center;
}

.character-button {
  margin: 5px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.character-button:hover {
  cursor: pointer;
}

.character-icon {
  width: 40px;
  height: 40px;
  border-radius: 0 0 50% 50%;
}

.card-image {
  max-width: 450px;
  width: 100%;
  height: auto;
}

.card-image:hover {
  cursor: pointer;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 187px;
}

@media (max-width: 500px) {
  .container {
    width: 310px;
  }

  .character-button {
    margin: 3px;
    width: 30px;
    height: 30px;
  }

  .character-icon {
    width: 25px;
    height: 25px;
  }

  .card-image {
    max-width: 300px;
  }

  .loading {
    height: 127px;
  }
}
